//Nav
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    right: 20px;
    opacity: 1;
    transform: translate3d(0,0,0);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            display: block;
            width: 8px;
            height: 8px;
            background-color: $white;
            border-radius: 50%;
            cursor: pointer;
            margin: 28px 0;
        }

        li.active a {
            background-color: transparent;
            border: 3px solid $white;
        }
    }
}