
<div full-page options="opt">
    <div class="section"
         data-anchor="section_1"
         ng-include=" 'app/views/section_1.html' ">
    </div>
    <div class="section gradient-2"
         data-anchor="section_2"
         ng-include=" 'app/views/section_2.html' ">
    </div>
    <div class="section"
         data-anchor="section_3"
         ng-include=" 'app/views/section_3.html' ">
    </div>
    <div class="section"
         data-anchor="section_4"
         ng-include=" 'app/views/section_4.html' ">
    </div>
    <div class="section"
         data-anchor="section_5"
         ng-include=" 'app/views/section_5.html' ">
    </div>
    <div class="section"
         data-anchor="section_6"
         ng-include=" 'app/views/section_6.html' ">
    </div>
    <div class="section"
         data-anchor="section_7"
         ng-include=" 'app/views/section_7.html' ">
    </div>
</div>
