

<div class="main-container layout-center"
     layout layout-align="center">

    <div flex="33">
        <h2>{{translation.header.about_us}}</h2>

        <p>
            Prateći trendove širenja muzike iz latino američkih zemalja,konkretno Brazila, širom sveta,grupa muzičara iz Novog Sada je osnovala muzički sastav u martu 2006.god, sa željom da tu vrstu muzike približi publici u ovom regionu.To je tada bio prvi bend na balkanu koji izvodi ovu vrstu muzike i imao je standardnu postavku samba baterie kao što je to i u Brazilu.
        </p>
        <p>
            Sambansa škola sambe nastala je u junu 2007.godine, u Novom Sadu.Osnivač je Saša Ignjatović,perkusionista i lider grupe Bateria Sambansa.Escola de samba Sambansa, je prva škola brazilskih samba udaraljki na balkanu. Cilj škole je da omogući zainteresovanima da nauče da sviraju brazilske udaraljke...
        </p>

    </div>
    
    
    <div flex="66">
        <img src="../../assets/images/section_2.png"
             alt="Sambansa">
    </div>

</div>